@import "fonts.css";

@import "partials/_button.css";
@import "partials/_table.css";
@import "partials/_modal.css";
@import "partials/_form.css";
@import "partials/_user-detail.css";
@import "partials/_notification.css";
@import "partials/_not-found.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  box-shadow: unset;
}

*::-webkit-scrollbar-thumb {
  background-color: #3F4254;
  outline: 0;
  border-radius: 4px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #eef0f8;
}

.link {
  color: #2e8ff0;
  text-decoration: none;
}

.link:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease-in-out;
}

.container {
  max-width: 1920px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.action {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  margin-bottom: 16px;
}

.main {
  overflow: auto;
}
